# API
API_PORT=4000
API_HOST=0.0.0.0
MONGODB_URI=mongodb://localhost:27017/fuelmap
REDIS_URL=redis://localhost:6379
JWT_SECRET=dev_super_secret_change_me_12345
AI_SERVICE_URL=http://localhost:8000
ALLOWED_ORIGIN=http://localhost:3000
DEV_AUTH_ENABLED=false
EDITOR_PHONES=+218910000002
ADMIN_PHONES=+218910000001

# Web
NEXT_PUBLIC_API_BASE_URL=http://localhost:4000
NEXT_PUBLIC_MAP_STYLE=https://basemaps.cartocdn.com/gl/positron-gl-style/style.json

# AI
AI_PORT=8000
